<div class="flex w-screen h-full justify-end-end flex-col-reverse sm:flex-row">

    <div class="w-full sm:w-72 sm:h-full shrink-0">
        <div class="bg-base-200 sm:h-full m-2 sm:m-0 flex sm:flex-col justify-around sm:justify-start items-center sm:items-stretch rounded-xl sm:rounded-none px-2 sm:p-4 border border-primary sm:border-none">
            <h3 class="text-primary hidden sm:block font-bold text-2xl mb-4">Administration</h3>
            <button class="nav-button" [ngClass]="{'button-active' : title=='dashboard' || !title}" routerLink="dashboard">
                <i class="las la-chart-bar"></i>
                <span>Dashboard</span>
            </button>
            <button class="nav-button" [ngClass]="{'button-active' : title == 'users'}" routerLink="users">
                <i class="las la-users"></i>
                <span>Utilisateurs</span>
            </button>
            
            <button class="nav-button" [ngClass]="{'button-active' : title=='products'}" routerLink="products">
                <i class="las la-cubes"></i>
                <span>Produits</span>
            </button>

            <button class="nav-button" routerLink="/">
                <i class="las la-arrow-left"></i>
                <span>Retour</span>
            </button>
        </div>
     
    </div>

    <div class="h-full flex-grow overflow-hidden">
        <router-outlet></router-outlet>
    </div>

</div>

