<div class="h-full p-4 sm:p-8 overflow-auto custom-scrollbar" *ngIf="productRequestEntity">
    <h1 *ngIf="productRequestEntity.product" class="text-4xl font-extrabold">Modification du produit</h1>
    <h1 *ngIf="!productRequestEntity.product" class="text-4xl font-extrabold">Enregistrement du produit</h1>

    <div class="mt-8">

        <p><span class="font-bold">Auteur de la demande : </span>{{ productRequestEntity.user.name }} {{ productRequestEntity.user.lastname.toUpperCase() }}</p>

          <!-- Modification -->
        <ng-container *ngIf="productRequestEntity.product">
            <p class="mt-4"><span class="font-bold">Nom du produit : </span>{{ productRequestEntity.product.name }}</p>
            <a class="link" [routerLink]="['/products/', productRequestEntity.product.id]">Naviguer vers la page du produit</a>

            <p class="font-bold text-xl underline mt-8">Champs modifiés :</p>
            
        </ng-container>

        <!-- Enregistrement -->
        <ng-container *ngIf="!productRequestEntity.product">
            <p class="font-bold text-xl underline mt-8">Données sur le produit :</p>
        </ng-container>

        <div *ngIf="productRequestEntity.name" class="mt-4">
            <p><span class="font-bold">Nom : </span>{{ productRequestEntity.name }}</p>
        </div>

        <div *ngIf="productRequestEntity.brand" class="mt-4">
            <p><span class="font-bold">Marque : </span>{{ productRequestEntity.brand }}</p>
        </div>

        <div *ngIf="productRequestEntity.code" class="mt-4">
            <p><span class="font-bold">Code barre : </span>{{ productRequestEntity.code }}</p>
        </div>

        <div *ngIf="productRequestEntity.categories" class="mt-4">
            <p><span class="font-bold">Catégories : </span>{{ productRequestEntity.categories }}</p>
        </div>

    </div>

    <div class="flex justify-around mt-8" *ngIf="productRequestEntity.state==0">
        <button class="btn btn-error" [ngClass]="{'loading': isLoading}" (click)="confirmProduct(1)">Refuser</button>
        <button class="btn btn-success" [ngClass]="{'loading': isLoading}" (click)="confirmProduct(2)">Accepter</button>
    </div>

    <p class="font-bold text-red-600 mt-8" *ngIf="productRequestEntity.state==1">Cette requête a été refusée.</p>
    <p class="font-bold text-green-600 mt-8" *ngIf="productRequestEntity.state==2">Cette requête a été acceptée.</p>
  
</div>
