<div class="h-full p-4 sm:p-8 overflow-auto custom-scrollbar">
    <h1 class="text-4xl font-extrabold">Mon compte</h1>

    <button *ngIf="userService.user()?.role=='admin'" class="btn btn-primary mt-8" [routerLink]="'/admin'">Espace Admin</button>

    <div class="card w-full lg:w-1/2 mx-auto bg-base-200 text-base-content mt-8">
        <div class="card-body items-center text-center relative">
            <label for="my-modal-4" class="btn btn-circle btn-sm absolute top-2 right-2">
                <i class="las la-pen"></i>    
            </label>
            <div class="avatar placeholder">
                <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
                  <span class="text-3xl">{{ userService.user()?.name?.substring(0, 1) }}{{ userService.user()?.lastname?.substring(0, 1) }}</span>
                </div>
            </div> 
            <div class="mt-4">
                <p>{{ userService.user()?.name }} {{ userService.user()?.lastname?.toUpperCase() }}</p>
                <p>{{ userService.user()?.email }}</p>

                <button class="btn btn-primary mt-8 btn-sm" [routerLink]="'/auth/login'" [queryParams]="{logout: true}">Déconnexion</button>
            </div>
        </div>
    </div>

    <div class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box mt-8" [ngClass]="{'collapse-open': showChangePasswordCollapse}">
        <div class="collapse-title text-xl font-medium cursor-pointer" (click)="showChangePasswordCollapse=!showChangePasswordCollapse">
            Modifier le mot de passe
        </div>
        <div class="collapse-content">
            <div class="flex flex-wrap">
                <div class="form-control w-full md:w-1/2 max-w-xs p-2">
                    <label class="label">
                      <span class="label-text">Mot de passe</span>
                    </label>
                    <input type="password" placeholder="Mot de passe..." class="input input-bordered w-full max-w-xs" [(ngModel)]="passwordForm.password" />
                </div>
                <div class="form-control w-full md:w-1/2 max-w-xs p-2">
                    <label class="label">
                      <span class="label-text">Confirmation du mot de passe</span>
                    </label>
                    <input type="password" placeholder="Mot de passe..." class="input input-bordered w-full max-w-xs" [(ngModel)]="passwordForm.verifPassword" />
                </div>
            </div>

            <div class="px-2 flex justify-between items-center mt-2">
                <div>
                    <span *ngIf="showSuccessPasswordChanged" class="text-green-600 font-semibold cursor-pointer" (click)="showSuccessPasswordChanged=false"><i class="las la-check mr-2"></i>Le mot de passe bien été mis à jour.</span>
                </div>
                    
                <button class="btn btn-primary" [ngClass]="{'loading': isPasswordUpdating}" (click)="updatePassword()">Mettre à jour</button>
            </div>            
        </div>
    </div>
</div>

<input type="checkbox" id="my-modal-4" class="modal-toggle" [checked]="showModalEditUser" (change)="showModalEditUser=true" />
<label for="my-modal-4" class="modal cursor-pointer">
    <label class="modal-box relative" for="">
        <h3 class="font-bold text-lg">Modifier mes informations</h3>

        <div class="flex flex-col items-center justify-center mt-4">
            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">Nom :</span>
                </label>
                <input type="text" placeholder="Nom..." class="input input-bordered w-full max-w-xs" [(ngModel)]="editUserForm.lastname" />
            </div>
            <div class="form-control w-full max-w-xs mt-4">
                <label class="label">
                    <span class="label-text">Prénom :</span>
                </label>
                <input type="text" placeholder="Prénom..." class="input input-bordered w-full max-w-xs" [(ngModel)]="editUserForm.name" />
            </div>
        </div>
      
        <div class="modal-action">
          <label for="my-modal-6" class="btn" (click)="saveEditUserData()">Enregistrer</label>
        </div>
    </label>
</label>
