<div class="h-full p-4 sm:p-8 overflow-auto custom-scrollbar">
    <h1 class="text-4xl font-extrabold">Rechercher un produit</h1>

    <form>
        <div class="form-control mt-4">
            <div class="input-group">
              <input type="text" name="searchbox" placeholder="Rechercher..." class="input input-bordered w-full" [(ngModel)]="searchText" />
              <button class="btn btn-square" type="submit" (click)="currentPage=1;search()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
              </button>
            </div>
          </div>
    </form>

    <div class="mt-8 flex flex-wrap justify-stretch">
        <h5 class="font-bold text-lg">Catégories</h5>
        <div class="mt-4">
            <div class="dropdown inline" *ngFor="let cat of categories">
                <label tabindex="0" class="btn m-1">{{ cat.mainCategory }}</label>
                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box">
                    <li *ngFor="let subCat of cat.subCategories">
                        <div class="form-control">
                            <label class="label cursor-pointer">
                              <input type="checkbox" class="checkbox mr-4" (click)="selectCat(cat, subCat)" />
                              <span class="label-text">{{ subCat.name }}</span> 
                            </label>
                        </div>
                    </li>
                </ul>
            </div>    
        </div>
    </div>

    <div class="mt-8">
        <h5 class="font-bold text-lg">Catégories sélectionnées</h5>
        <div *ngIf="getSelectedCategories().length > 0" class="space-x-4 flex overflow-auto py-4">
            <div *ngFor="let cat of getSelectedCategories()" class="badge shrink-0">{{ cat.name }}</div>
        </div>
        <p *ngIf="getSelectedCategories().length == 0">Aucune catégorie sélectionnée</p>
    </div>

    <ng-container *ngIf="isHome()">
        <div>
            <h5 class="font-bold text-lg mt-8">Produits les mieux notés</h5>
            <div class="flex overflow-auto pb-2">
                <button [disabled]="isLoading" [ngClass]="{'opacity-30' : isLoading}" [routerLink]="'/products/' + p.id" *ngFor="let p of productsMostLiked" class="w-1/2 sm:w-48 shrink-0 h-48 text-ellipsis p-2">
                    <p class="rounded-xl border text-left duration-2000 hover:bg-secondary p-2 h-full font-semibold capitalize hover:text-secondary-content text-ellipsis overflow-hidden">{{ p.name }}</p>
               </button>
            </div>
            
        </div>
        <div>
            <h5 class="font-bold text-lg mt-4">Produits les plus commentés</h5>
            <div class="flex overflow-auto pb-2">
                <button [disabled]="isLoading" [ngClass]="{'opacity-30' : isLoading}" [routerLink]="'/products/' + p.id" *ngFor="let p of productsMostCommented" class="w-1/2 sm:w-48 shrink-0 h-48 text-ellipsis p-2">
                    <p class="rounded-xl border text-left duration-2000 hover:bg-secondary p-2 h-full font-semibold capitalize hover:text-secondary-content text-ellipsis overflow-hidden">{{ p.name }}</p>
                </button>
            </div>
        </div>
        <div *ngIf="isLoading" class="flex items-center justify-center w-full mt-8">
            <i class="las la-spinner la-spin text-5xl"></i>
        </div>
    </ng-container>
   

    <ng-container *ngIf="!isHome()">
        <div class="flex justify-end mt-12">
            <p class="font-bold">{{ totalCount }} résultats | {{ searchProducts.length }} affichés</p>
        </div>
        
        <div class="flex flex-wrap relative">
    
           <button [disabled]="isLoading" [ngClass]="{'opacity-30' : isLoading}" [routerLink]="'/products/' + p.id" *ngFor="let p of searchProducts" class="w-1/2 sm:w-48 h-48 text-ellipsis p-2">
                <p class="rounded-xl border duration-2000 hover:bg-secondary p-2 h-full font-semibold capitalize hover:text-secondary-content text-ellipsis overflow-hidden">{{ p.name }}</p>
           </button>
    
           <div *ngIf="isLoading" class="flex items-center justify-center w-full mt-24 absolute">
                <i class="las la-spinner la-spin text-5xl"></i>
           </div>
        </div>
    
        <div class="flex justify-end mt-8">
            <app-table-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-table-pagination> 
        </div>
    </ng-container>

   
   
</div>
