<div class="flex w-screen h-full justify-end-end flex-col-reverse sm:flex-row">

    <div class="w-full sm:w-72 sm:h-full shrink-0">
        <div class="bg-base-200 sm:h-full m-2 sm:m-0 flex sm:flex-col justify-around sm:justify-start items-center sm:items-stretch rounded-xl sm:rounded-none px-2 sm:p-4">
                        
            <button class="nav-button" [ngClass]="{'button-active' : title == 'scan'}" routerLink="scan">
                <i class="las la-barcode"></i>
                <span>Scan</span>
            </button>
            <button class="nav-button" [ngClass]="{'button-active' : title=='search' || title==''}" routerLink="search">
                <i class="las la-search"></i>
                <span>Rechercher</span>
            </button>
            <button class="nav-button" [ngClass]="{'button-active' : title=='account'}" routerLink="account">
                <i class="las la-user"></i>
                <span>Mon compte</span>
            </button>
        </div>
     
    </div>

    <div class="h-full flex-grow overflow-hidden">
        <router-outlet></router-outlet>
    </div>

</div>

