<div class="h-full p-4 sm:p-8 overflow-auto custom-scrollbar">
    <h1 class="text-4xl font-extrabold">Utilisateurs</h1>

    <div class="flex justify-end mt-12">
      <p class="font-bold">{{ totalCount }} résultats | {{ users.length }} affichés</p>
    </div>
    <div class="overflow-x-auto">
        <table class="table table-compact w-full">
          <thead>
            <tr>
              <th></th> 
              <th>Nom</th> 
              <th>Email</th> 
              <th>Date d'inscription</th>
              <th>Role</th> 
            </tr>
          </thead> 
          <tbody>
            <tr *ngFor="let user of users; let $i = index" class="hover cursor-pointer" [routerLink]="user.id">
              <th>{{ $i+1 }}</th> 
              <td>{{ user.name }} {{ user.lastname.toUpperCase() }}</td> 
              <td>{{ user.email }}</td> 
              <td>{{ dayjs(user.dateSignIn).format('DD/MM/YYYY') }}</td>
              <td>
                <span *ngIf="user.role=='admin'" class="badge badge-primary">Administrateur</span>
                <span *ngIf="user.role=='user'" class="badge badge-secondary">Utilisateur</span>
              </td> 
            </tr>
          </tbody> 
        </table>
    </div>
    <div *ngIf="isLoading" class="flex items-center justify-center w-full mt-8">
      <i class="las la-spinner la-spin text-5xl"></i>
    </div>
    <div class="flex justify-end mt-8">
      <app-table-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-table-pagination> 
  </div>
</div>
